body{
  font-family: cursive;
}

.App {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start; */
  width: 80%;
  margin: 0 auto;
}

.App > div{
  display: block;
}

.mainContent{
  width: calc(100% - 300px);
  transition: 0.5s;
  float: right;
  height: calc(100vh - 40px);
  position: relative;
  
}

.mainContent > div{
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  animation: Bottom-Up 1s;
}

.home .profile{
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar{
  background: #f2f3f7;
  text-align: center;
  width: 300px;
  transition: 0.5s;
  position: fixed;
  overflow-y: scroll;
  padding-top: 3em;
  padding-bottom: 40px;
  height: 100vh;
  float: left;
}

.sidebar .activeTab{
  div:first-child{
    color: #2c98f0;
    border-bottom: 1px solid;
  }
}

.sidebar ul{
  list-style: none;
}

.sidebar .footer{
  padding: 0 20px;
}

.sidebar .footer span{
  display: block;
}

.author-img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
}

/* .about .grid > div {
  margin: 10px;
} */
/* .about .grid > div > div {
  width: 100%;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Bottom-Up {
  from {
    bottom: -300px;
  }
  to {
    bottom: 0;
  }
}



.boxLayout{
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-bottom-width: 4px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 6px;
  box-shadow: 4px 4px 4px darkgrey;
}
.bottomBorderBlue{
  border-bottom-color: blue;
}
.bottomBorderRed{
  border-bottom-color: red;
}
.bottomBorderYellow{
  border-bottom-color: yellow;
}
.bottomBorderPurple{
  border-bottom-color: purple;
}

.container  > *{
  margin-bottom: 20px;
}
.container .title h2{
  margin-bottom: 5em;
}

.blockHireMe{
  margin-top: 5em;
  padding: 10px 10px;
  background-color: #f9bf3f;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  a{
    border: 1px solid #000;
    padding: 0 10px;
  }
}
.blockCards{
  margin-top: 5em;
}

.pageSkills{
  .skillBlock{
    label{
      background-color: inherit;
    }
  }
}

input[type='range']{ 
  
  &.color1{
      accent-color: #2c98f0;
  }
  &.color2{
      accent-color: #ec5453;
  }
  &.color3{
    accent-color: #f9bf3f;
  }
  &.color4{
    accent-color: #a84cb8;
  }
  &.color5{
    accent-color: #2fa499;
  }
  &.color6{
    accent-color: #4054b2;
  }
}

.before\:services-card-header::before{
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 30px 50px;
    border-color: transparent transparent #2c98f0 transparent;
}
.after\:services-card-header::after{
    bottom: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 50px 0 50px;
    border-color: #2c98f0 transparent transparent transparent;
}

  .svgBlock{
    background: #2c98f0;
    width: 90%;
    height: 3.3em;
  }
  /* .servicesBlock > div{
    margin-bottom: 3rem;
    border-bottom: 2px solid red;
    & > div{
      padding: 0.5rem;
    }
  } */
  .servicesBlock i{
    color: #fff;
    background: #2c98f0;
    font-size: 30px;
    padding: 11px 30px;
    min-width: 100px;
    text-align: center;
  }

  /* .blockCards > div:hover{
    z-index: 1
  } */

  .draggableBlock img{
    width: 15%;
    object-fit: contain;
    aspect-ratio: 3/2;
  }

  .servicesBlock{
    position: relative;
    /* margin-top: 100px; */
    /* width: 100%;
    height: 390px;
    overflow: hidden; */
    > div{
      position: absolute;
    /* width: 200px;
    height: 320px; */
    text-align: justify;
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* padding: 20px; */
    transition:  0.5s;
    left: calc(50% - 110px);
    top: 0;
    }
  }


  .expPage{
    position: relative;
    overflow: hidden;
    .carousel{
      height: 70vh;
      width: 100%;
      position: relative;
      .list{
        .item{
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0 0 0 0;
          background: #000;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
          }
          .content{
            position: absolute;
            top: 10%;
            width: 80%;
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
            /* padding-right: 30%; */
            box-sizing: border-box;
            color: #fff;
            text-shadow: 0 5px 10px #0004;
            ul{
              list-style: initial;
            }
            div, li{
              color: #fff;
            }
            .author{
              font-size: 24px;
              font-weight: 600;
            }
            .title{
              font-size: 20px;
              font-weight: 500;
            }
            .topic{
              font-size: 18px;
              font-weight: 400;
            }
            .des{
              font-size: 16px;
              font-weight: 400;
            }
          }
          &:nth-child(1){
            z-index: 1;
            .content{
              .author, .title, .topic, .des, li, .buttons{
                transform: translateY(50px);
                filter: blur(20px);
                opacity: 0;
                animation: showContent .5s 1s linear 1 forwards;
              }
              .title{
                animation-delay: 1.2s!important;
              }
              .topic{
                animation-delay: 1.4s!important;
              }
              .des ul li{
                &:nth-child(1){
                  animation-delay: 1.6s!important;
                }
                &:nth-child(2){
                  animation-delay: 1.8s!important;
                }
                &:nth-child(3){
                  animation-delay: 2s!important;
                }
                &:nth-child(4){
                  animation-delay: 2.2s!important;
                }
              }
              .buttons{
                animation-delay: 2.4s!important;
              }
            }
          }
        }
      }
      &.active{
        .list{
          .item{
            &:nth-child(1){
              img{
                width: 150px;
                height: 220px;
                position: absolute;
                bottom: 50px;
                left: 50%;
                border-radius: 30px;
                animation: showImage .5s linear 1 forwards;
              }
            }
            img{
              z-index: 100;
            }
          }
        }
        .thumbnail{
          animation: effectNext .5s linear 1 forwards;
        }
      }
      .thumbnail{
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
        .item{
          width: 150px;
          height: 220px;
          flex-shrink: 0;
          position: relative;
          &:nth-child(1){
            width: 0;
            opacity: 0;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            opacity: 0.5;
          }
          .content{
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-left: 10px;
            .title{
              color: #fff;
              font-weight: 500;
            }
            .description{
              color: #fff;
              font-weight: 300;
            }
          }
          
        }
      }
    }
    
  }

  @keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
  }

@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

.certificateItem{
  cursor: pointer;
  position: absolute;
  transition:  0.5s;
  &.popCard{
    margin-top: -2.5rem;
  }
  &:last-child{
    cursor: auto;
  }
}